.App
{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tb i{
  position: absolute;
  font-size:30px;
  margin-left:8px;
  margin-top:5px;
  padding:2px;
  color:red;
 
}
#lab
{
 font-size:20px;
 font-family: Microsoft JhengHei;
 color:rgb(255, 255, 255);
 text-align: right;
 font-weight: bold;
}

#btn22
{
  text-decoration: none;
  background:transparent;
  border:transparent;
}
#tbl1
{

  border:10px solid rgb(102, 255, 0);
  border-radius:10px;
}
#td1,#th1
{
  border:3px solid rgb(0, 0, 0);
}
#th1
{
  background:rgba(255, 0, 0, 0.562);
}
#td1
{
  background:rgba(255, 0, 149, 0.493);
}
#icn2
{
  color:rgba(255, 0, 0, 0.986);
}
#icn1
{
  color:rgb(238, 255, 4);
}
body {
  background-image: url("a1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 }
::placeholder
{
  color:rgb(0, 25, 253);
  font-weight: bold;
}
#tbox
{
  border:3px solid rgba(255, 0, 242, 0.8);
  height:30px;
  border-radius:5px ;
  overflow: hidden;
  text-overflow: ellipsis;
  color:rgb(0, 25, 253);
  font-weight: bold;
  padding-left: 30px;
  
}
#tbox:hover{
  border: 4px solid rgb(255, 5, 5);
}
#bod
{margin-top:5%;
  border:5px solid rgba(0, 15, 223, 0.8);
  border-radius:10px ;
  padding-bottom:4%;
  padding-left:4%;
  padding-right:4%;
  background-color:rgba(0,0,0,0.3);
  }
tr{
  margin-bottom: 10px;
  width:170px;
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 350px;
  border-radius:10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
input:focus {
  background-color: rgba(252, 5, 5, 0.082);
  color:rgb(251, 255, 7);
  padding: 2px;
  font-size: 16px;
  border:4px solid rgba(81, 6, 255, 0.788);
  font-weight: bold;
}
h1{color:yellow;}
th, td { 
   
  text-align:left; 
  padding:10px 
} 
@media screen and (max-width: 360px) {
  h1{
   font-size:21px;
  }
input:focus {
  background-color: rgba(252, 5, 5, 0.082);
  color:rgb(251, 255, 7);
  padding: 2px;
  font-size: 14px;
  border:4px solid rgba(81, 6, 255, 0.788);
  font-weight: bold;
}
#tbox
{
  border:2px solid rgba(255, 0, 242, 0.8);
  height:25px;
  border-radius:5px ;
  overflow: hidden;
  text-overflow: ellipsis;
  color:rgb(0, 25, 253);
  font-weight: bold;
}
/* .input-container,.tb i
{
position: absolute;
margin-left:5% ;

} */
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 13px;
  width: 200px;
  border-radius:10px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}
#lab
{
 font-size:15px;
 font-family: Microsoft JhengHei;
 color:rgb(255, 255, 255);
 text-align: right;
 font-weight: bold;
}
  }

  

  @media screen and (max-width: 250px) {
    h1{
     font-size:12px;
    }
  input:focus {
    background-color: rgba(252, 5, 5, 0.082);
    color:rgb(251, 255, 7);
    font-size: 9px;
    border:2px solid rgba(81, 6, 255, 0.788);
   
  }
  #tbox
  {
    border:2px solid rgba(255, 0, 242, 0.8);
    height:25px;
    border-radius:5px ;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(0, 25, 253);
    width:100px;
  }
  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 13px;
    width: 130px;
    border-radius:10px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  #lab
  {
   font-size:9px;
   font-family: Microsoft JhengHei;
   color:rgb(255, 255, 255);
   text-align: right;
   font-weight: bold;
  }
 
  #bod
{margin-top:5%;
  border:2px solid rgba(0, 15, 223, 0.8);
  border-radius:10px ;
  padding-bottom:4%;
  padding-left:1%;
  padding-right:1%;
  background-color:rgba(0,0,0,0.3);
  }
  ::placeholder
  {
    color:rgb(0, 25, 253);
  }
  
    }
    .tb i{
      position: absolute;
      font-size:18px;
      margin-left:8px;
      margin-top:5px;
      padding:2px;
      color:red;
    }
    